<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CRAG</title>
	<link rel="stylesheet" href="/static/toppage2.css">
</head>
<body>

	<div class="main">

		<div class="tytlename">
			<h1>CRAG</h1>
			<p>- Cycling Route Auto Generation -</p>
		</div>
		<div class='intro'>
			<h1>How to use</h1>
			<p>1.Input start point</p>
			<p>2.Input cycling distance</p>
			<h2>3.Route generation</h2>
		</div>
		<form action="inputpage" >
		<button class="button" type="submit">Make route</button>
		</form>
	</div>
</body>
</html>