html{
	background-color:#9ad8c8;
}

.all{
	text-align: center;
	border:solid #00B0B0;
	border-radius:100px;
	width:100%;
	height:560px;
}


.input{
	/*background-color:blue;*/
	position:absolute;
	text-align: center;
	float: right;
	width:50%;
	top:35%;
	left:35%;
	margin: 0 auto;
}

.research{
	/*background-color:blue;*/
	position:absolute;
	text-align: center;
	width:99%;
	top:60%;
}

button.button {
	/*font-size: 1.4em;*/
	font-weight: bold;
	padding: 10px 30px;
	background-color: #9ad8c8;
	color:white;
	margin: 0 auto;
}


